@model GuessR.Models.GuessModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GuessModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GuessRiddle" class="control-label"></label>
                <input asp-for="GuessRiddle" class="form-control" />
                <span asp-validation-for="GuessRiddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuessAnswer" class="control-label"></label>
                <input asp-for="GuessAnswer" class="form-control" />
                <span asp-validation-for="GuessAnswer" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>

                <span class="text-danger invisible" id="ImageError">Please choose image</span>
                <div class="custom-file">
                    <input asp-for="ProfilePicture" class="custom-file-input" id="ProfilePicture">
                    <label class="custom-file-label" for="FLProfilePicture">Choose file</label>
                </div>
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>

                <input type="hidden" asp-for="ContentUrl" id="ContentUrl" value="Error" />

                <div class="col-4 row">
                    <div class="form-group col-12 justify-content-center align-middle mb-0 pb-0">
                        @if (string.IsNullOrEmpty(Model.ContentUrl))
                        {
                            <img id="ProfilePicturePrv" src="~/images/logo image.png" alt="logo image" width="150" height="150" style="border:1px solid black; margin-top:20px; margin-left:120px;" />
                        }
                        else
                        {
                            <img id="ProfilePicturePrv" src="~/images/@Model.ContentUrl" width="150" height="150" style="border:1px solid black; margin-top:20px; margin-left:120px;" />
                        }
                    </div>
                </div>
            </div>

            <div class="col-12 btn-group">
                <div class="col-6 form-group text-left p-2">
                    <button type="submit" formaction="@Url.Action("Edit")" formmethod="post" enctype="multipart/form-data">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {

            document.getElementById('ImageError').classList.add("invisible");
            document.getElementById('ImageError').classList.remove("visible");

            var fileName = $(this).val().split("\\").pop();

            var fileExt = fileName.split('.').pop();


            var error = isImageValid(fileExt);
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");

                return;
            }


            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('ProfilePicturePrv').src = window.URL.createObjectURL(this.files[0]);

            document.getElementById('ContentUrl').value = fileName;
        });


        function isExtensionValid(fileExt) {
            if (fileExt != 'jpg' && fileExt != 'png' && fileExt != 'jpeg') {
                return "Only Jpg, Jpeg and Png files are accepted!";
            }
            return "";
        }

   

        function isImageSelected() {
            if (document.getElementById('ContentUrl').value == 'Error') {
                //alert('Image not selected for upload');
                return "Image not selected for upload";
            }
            return "";
        }


        function isImageValid(fileExt) {

            var error = "";
            error = isExtensionValid(fileExt);

            if (error != "") {
                //alert(error);
                return error;
            }

            return "";
        }


        function ValidateForm() {

            var error = isImageSelected();
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");

                return false;
            }

            return true;
        }

    </script>
}
